// breakpoints
$mobile: 767px;  // mobile 767px and less 
$tablet: 992px; // tablet 1025px {desctop - 1} and less 
$desktop: 1260px;
$retina: 1.5;    // standart retina > 1.5x
$retina-hd: 2.5; // hd retina > 2.5x

// breakpoints mixin
@mixin breakpoint($rule){
  @if ($rule == $retina or $rule == $retina-hd){
  @media only screen and ( min-resolution : #{$retina*96} ), ( -webkit-min-device-pixel-ratio : #{$retina} ){
   @content;
  }
  }
  @else{
  @media only screen and (max-width: #{$rule}){
   @content;
  }  
  }
}

/// breakpoints mixin usage
/// selector{
///   height:100px;
///   @include breakpoint($desktop){
///     height:50px;
///   }
/// }

// reset for box
%boxreset {
  width:100%;
  overflow:hidden;
  position:relative;
}

// reset for box
%img-responsive {
  max-width:100%;
  display: block;
  height: auto;
}

// reset for box
%img-responsive2 {
  width:100%;
  display: block;
  height: auto;
}

// list reset
%listreset {
  list-style: none;
  margin: 0;
  padding: 0;
}

//after and before
%after {
  content:'';
  position:absolute;
}

// clearfix
%clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

// postion reset
%postionreset{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

// postion reset
%backgroundreset {
  -webkit-background-size:cover;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:50% 0;
}

// opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacityIE: $opacity * 100;
  filter: alpha(opacity=$opacityIE);
}

// placeholder
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  ::-moz-placeholder          {opacity: 1; @content}
  :-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
  .placeholder                {@content}
}

// vertical align style
@mixin vertical-align($display, $align){
  display:$display;
  vertical-align:$align;
}

// vertical alignment within the block
@mixin v-align($child-class-name, $valign: middle){
  white-space:nowrap;
  .#{$child-class-name}{
    display:inline-block;
    white-space:normal;
    vertical-align:$valign;
  }
  &:before{
    content:'';
    vertical-align:$valign;
    display:inline-block;
    height:100%;
    width:1px;
    overflow:hidden;
    margin:0 0 0 -5px;
  }
}

// vertical alignment within the block
@mixin v-align2($child-class-name, $valign: middle){
  white-space:nowrap;
  .#{$child-class-name}{
    display:inline-block;
    white-space:normal;
    vertical-align:$valign;
  }
  &:before{
    content:'';
    vertical-align:$valign;
    display:inline-block;
    min-height:inherit;
    width:1px;
    overflow:hidden;
    margin:0 0 0 -5px;
  }
}

// transition
@mixin transition ($type:all, $time:0.4s, $ease:ease) {
  -webkit-transition  : $type $time $ease;
  -moz-transition    : $type $time $ease;
  -o-transition      : $type $time $ease;
  transition          : $type $time $ease;
}

// arrow 
@mixin arrow($top, $right, $bottom, $left, $top-color, $right-color, $bottom-color, $left-color){
  width: 0;
  height: 0;
  border-style: solid;
  border-width:$top $right $bottom $left;
  border-color:$top-color $right-color $bottom-color $left-color;
}
// custom font mixin
@mixin fontface ($fontfamily, $filename, $fontweight: normal, $fontstyle: normal) {
  font-family: $fontfamily;
  src:url('../fonts/#{$filename}.eot');
  src:url('../fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$filename}.woff') format('woff'),
    url('../fonts/#{$filename}.woff2') format('woff2'),
    url('../fonts/#{$filename}.ttf') format('truetype'),
    url('../fonts/#{$filename}.svg#{$filename}') format('svg');
  font-weight: $fontweight;
  font-style: $fontstyle;
}

@mixin rotate ($deg) {
  -moz-transform    : rotate($deg);
  -ms-transform    : rotate($deg);
  -o-transform      : rotate($deg);
  -webkit-transform : rotate($deg);
}

@mixin element($element, $top, $right, $bottom, $left, $bg-color){
  position: relative;
  z-index: 1;
  &:#{$element} {
    @extend %after;
    top:$top;
    z-index: -1;
    bottom:$bottom;
    left:$left;
    right:$right;
    background: $bg-color;
  }
}

@mixin element2($element2, $top, $right, $bottom, $left){
	position: relative;
	&:#{$element2} {
		position: absolute;
		content: "";
		top:$top;
		bottom:$bottom;
		left:$left;
		right:$right;
	}
}

// hide text
@mixin hide-text {
  overflow: hidden;
  text-indent: -9999px;
}

// retina images
@mixin img-retina($image, $extension, $width, $height) {
  background-image: url('../images/' + $image + '.' + $extension);
  background-repeat: no-repeat;
  width: $width;
  height: $height;
  @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {    
    background-image: url('../images/' + $image + '-2x' + '.' + $extension);
    background-size: $width $height;
  }
}