/*------------------------------------------------------------------
[Table of contents]

2-2. intro section Styles / .intro-section
2-3. features section Styles / .features-section
2-4. core section Styles / .core-section
2-5. pie section Styles / .pie-section
2-6. twitter section Styles / .twitter-section

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
2-2. intro section Styles / .intro-section
-------------------------------------------------------------------*/
.intro-section{
	font-size: 21px;
	font-weight: 300;
	line-height: 32px;
	padding-top: 90px;
	text-align: center;
	font-style: italic;
	@include breakpoint($screen-xs-max){
		font-size: 16px;
		line-height: 25px;
		padding-top: 40px;
	}
	.img{margin: 0 auto;}
	.text-box{
		max-width: 870px;
		margin: 0 auto 52px;
	}
}
/*------------------------------------------------------------------
2-3. features section Styles / .features-section
-------------------------------------------------------------------*/
.features-section{
	font-size: 14px;
	padding-top: 95px;
	line-height: 24px;
	text-align: center;
	padding-bottom: 89px;
	@include breakpoint($screen-xs-max){
		padding-top: 45px;
        padding-bottom: 45px;
    }
	h3{
		color: $shark;
		margin: 0 0 19px;
		padding: 27px 0 0;
        letter-spacing: 2px;
        text-transform: uppercase;
		font: 600 13px/20px $font-family-base;
		.dark &{color: $white;}
	}
	.fa{font-size: 32px;}
}
/*------------------------------------------------------------------
2-4. core section Styles / .core-section
-------------------------------------------------------------------*/
.core-section{
	font-size: 15px;
	overflow: hidden;
	line-height: 26px;
	padding-top: 90px;
	h2{
		margin: 0 0 20px;
		font: 600 36px/50px $font-family-sans-serif;
		@include breakpoint($screen-xs-max){
			font-size: 30px;
			line-height: 40px;
		}
	}
	p{margin: 0 0 19px;}
	.list{
		margin: 0;
		padding: 0 0 0 7px;
		li{
			font-size: 12px;
			margin: 0 0 12px;
            font-weight: 500;
			line-height: 20px;
			position: relative;
			padding: 0 0 0 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
			&:after{
				top: 0;
				left: 7px;
				content: "\f058";
				position: absolute;
				font-family: 'FontAwesome';
			}
		}
	}
	.img{
		margin: 11px 0 0;
		@include breakpoint($screen-sm-max){
			margin: 131px 0 0;
		}
		@include breakpoint($screen-xs-max){
			margin: 30px 0 0;
		}
	}
	&.style2{
		h2{
			color: $lime;
			.dark &{color: $white;}
		}
		.img{
			margin: -38px 0 0;
			@include breakpoint($screen-md-max){margin: 38px 0 0;}
		}
	}
	&.style3{
		h2{
			color: $lime;
			margin: 0 0 28px;
			text-transform: uppercase;
			font: 700 32px/40px $font-family-sans-serif;
			.dark &{color: $white;}
		}
		.holder{
			padding-top: 95px;
			font: 14px/24px $font-family-sans-serif;
			@include breakpoint($screen-md-max){padding-top: 0;}
		}
		p{margin: 0 0 30px;}
	}
}
/*------------------------------------------------------------------
2-5. pie section Styles / .pie-section
-------------------------------------------------------------------*/
.pie-section{
	z-index: 2;
	color: $white;
	font-size: 16px;
	line-height: 26px;
	@extend %boxreset;
	text-align: center;
	padding: 87px 0 95px;
	@include element(after, 0, 0, 0, 0, rgba(0, 0, 0, 0.5));
	@include breakpoint($screen-xs-max){
		font-size: 14px;
		line-height: 20px;
	}
	.parallax-holder{
		z-index: -1;
		@extend %postionreset;
	}
	.pie-chart {
		position: relative;	
		margin: 0 auto 10px;
		text-align: center;
		canvas {
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			display: block;
			position: absolute;
		}
		.pie-chart-percent{
			left: 0;
			top: 70px;
			width: 100%;
			z-index: 10;
			color: $white;
			display: block;
			text-align: center;
			position: absolute;
			font: 700 30px/40px $font-family-sans-serif;
			span{
				font-size: 50px;
				line-height: 60px;
			}
		}
		img {
			max-width:100%;
			vertical-align: middle;
		}
	}
	.pie-description {
		display: block;
		font-size: 18px;
		text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        font: 600 14px/20px $font-family-sans-serif;
	}
	.pie-block{
		width: 297px;
		@include vertical-align(inline-block, top);
		@include breakpoint($screen-md-max){
			width: 227px;
		}
		@include breakpoint($screen-sm-max){
			width: 49%;
		}
		@include breakpoint($screen-xs-max){
			width: 100%;
		}
	}
}
/*------------------------------------------------------------------
2-6. twitter section Styles / .twitter-section
-------------------------------------------------------------------*/
.twitter-section{
	color: $shark;
	font-size: 21px;
	font-weight: 300;
	padding-top: 70px;
	line-height: 32px;
	font-style: italic;
	text-align: center;
	padding-bottom: 92px;
	.dark &{color: $stack;}
	.block{
		max-width: 900px;
		margin: 0 auto;
		position: relative;
		padding: 122px 0 0;
	}
	.icon-twitter,
	.fa{
		top: 0;
		left: 50%;
		font-size: 60px;
		position: absolute;
		margin: 20px 0 0 -28px;
	}
	span{
		display: block;
		margin: 0 0 20px;
	}
	.btn-prev{
		padding: 0;
		top: 113px;
		left: -56px;
		color: #535353;
		font-size: 20px;
		text-align: center;
		border-radius: 50%;
		position: absolute;
		@include square(40px);
		border: 2px solid #535353;
		&:hover{
			opacity: 0.8;
			text-decoration: none;
		}
	}
	.btn-next{
		padding: 0;
		top: 113px;
		right: -56px;
		color: #535353;
		font-size: 20px;
		text-align: center;
		border-radius: 50%;
		position: absolute;
		@include square(40px);
		border: 2px solid #535353;
		&:hover{
			opacity: 0.8;
			text-decoration: none;
		}
	}
	small,
	time{
		color: $stack;
		display: block;
		font-size: 11px;
		font-weight: 700;
		line-height: 20px;
		a{color: $stack;}
	}
	&.style2 .time{
		color:$stack;
		font-style:normal;
		text-transform: uppercase;
	}
	&.style3 .block{padding: 130px 0 0;}
}