/*------------------------------------------------------------------
[Table of contents]

19-2. onepage banner Styles / .onepage-banner
19-3. about aricle Styles / .about-aricle
19-4. tabset onepage Styles / .tabset-onepage
19-5. tab content Styles / .tab-content
19-6. process nav Styles / .process-nav
19-7. onepage clientbox Styles / .onepage-clientbox
19-8. onepage-blockquote Styles / .onepage-blockquote
19-9. onepage blog Styles / .onepage-blog
19-10. onepage demo Styles / .onepage-demo
19-11. map Styles / .map

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
19-2. onepage banner Styles / .onepage-banner
-------------------------------------------------------------------*/
.onepage-banner{
	overflow: hidden;
	position:relative;
	.holder{
		z-index:999;
		position:relative;
		@include v-align(frame, middle);
		@include breakpoint($screen-xs-max){
			min-height: 500px;
			height: auto !important;
		}
	}
	.title{
		display: block;
		margin: 0 0 31px;
		font:600 26px/30px $font-family-sans-serif;
		@include breakpoint($screen-xs-max){
			font-size: 20px;
			line-height: 25px;
		}
	}
	.frame{
		margin:0;
		width: 100%;
        color:$white;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		padding: 45px 0 20px;
		@include breakpoint($screen-xs-max){
			font-size: 12px;
			line-height: 20px;
			padding: 140px 0 100px;
		}
		h1{
			margin:0 0 24px;
			padding: 20px 28px;
			border: 5px solid $white;
			text-transform: uppercase;
			@include vertical-align(inline-block, top);
			font:700 60px/64px $font-family-sans-serif;
			@include breakpoint($screen-sm-max){font-size: 50px;}
			@include breakpoint($screen-xs-max){
				font-size: 23px;
				line-height: 30px;
				padding: 20px 2px;
			}
		}
		p{margin: 0 0 26px;}
	}
	.down-arrow{
		left: 50%;
		bottom: 60px;
        color: $white;
		font-size: 63px;
		line-height:58px;
		padding: 9px 0 0;
		text-align: center;
		position: absolute;
		margin: 0 0 0 -40px;
		@include square(80px);
		border: 2px solid $white;
		@include transition (all, 0.4s, ease);
		@include breakpoint($screen-sm-max){
			bottom: 20px;
		}
		&:hover{
            background: $white;
            text-decoration: none;
        }
		.fa{
			margin: 0 0 0 7px;
			position: relative;
			animation-duration: 2.5s;
			animation-name: hvr-ripple-out;
			-webkit-animation-name: hvr-ripple-out;
			-webkit-animation-duration: 2.5s;
			animation-iteration-count: infinite;
			-webkit-animation-iteration-count: infinite;
			-moz-animation-iteration-count: infinite;
			-ms-animation-iteration-count: infinite;
		}
	}
}
/*------------------------------------------------------------------
19-3. about aricle Styles / .about-aricle
-------------------------------------------------------------------*/
.about-aricle{
	line-height:24px;
	text-align: center;
	p{margin: 0 0 10px;}
	.img-box{
        color:$white;
		overflow: hidden;
		border-radius:50%;
		margin:0 auto 28px;
		@include square(110px);
		transition:all 0.5s ease;
		.fa{
			@include vertical-align(inline-block, middle);
			font-size: 30px;
			line-height:110px;
		}
	}
	h3{
        color:$shark;
		margin:0 0 8px;
        letter-spacing: 2px;
        text-transform: uppercase;
		font: 600 14px/20px $font-family-sans-serif;
		@include vertical-align(inline-block, top);
        .dark &{color: $white;}
	}
    &:hover .img-box{
        background: $shark;
        .dark &{background: #191919;}
    }
}
.onepage-tab{
	overflow: hidden;
	position:relative;
}
.onepage-tabset{
	padding-top: 140px;
	padding-bottom: 60px;
	@include breakpoint($screen-xs-max){
		padding-top: 70px;
		padding-bottom: 30px;
	}
}
/*------------------------------------------------------------------
19-4. tabset onepage Styles / .tabset-onepage
-------------------------------------------------------------------*/
.tabset-onepage{
	margin:0;
	width: 100%;
	text-align: center;
	font:16px/20px $font-family-sans-serif;
	text-transform: uppercase;
	border-bottom:2px solid #2e2e30;
	li{
		float: none;
		padding:0 43px;
		@include vertical-align(inline-block, top);
		@include breakpoint($screen-sm-max){
			padding:0 13px;
		}
		@include breakpoint($screen-xs-max){
			margin: 0 0 35px;
		}
		a{
            color:$white;
			display: block;
			padding:0 0 19px;
			position: relative;
			@include transition (all, 0.4s, ease);
			@include element(before, auto, 0, -2px, 0, transparent);
			&:before{
				opacity: 0;
				height: 2px;
				@include transition (all, 0.4s, ease);
			}
			.fa{
				left: 50%;
				top: -39px;
                color:$stack;
				font-size: 20px;
				margin:0 0 0 -9px;
				position: absolute;
				@include breakpoint($screen-xs-max){top: -30px;}
			}
			&:hover{
				text-decoration: none;
				&:before{opacity: 1;}
			}
		}
		&.active a:before{opacity: 1;}
	}
}
/*------------------------------------------------------------------
19-5. tab content Styles / .tab-content
-------------------------------------------------------------------*/
.tab-content{
	&.onepage{
        color:$stack;
		overflow: hidden;
		font: 16px/26px $font-family-base;
		padding:82px 0 0;
		.txt-box{
			width: 50%;
			float: left;
			@include breakpoint($screen-xs-max){
				width: 100%;
				float: none;
			}
			h2{
                color:$white;
				margin:0 0 24px;
				font:300 40px/42px $font-family-sans-serif;
			}
			p{margin: 0 0 26px;}
		}
		.btn{
            color: $white;
			margin:7px 0 0;
            &:hover{background: none;}
		}
		.alignright{
			float: right;
			width: 42.7%;
			margin: -27px 0 0;
			@include breakpoint($screen-xs-max){
				margin: 0;
				float: none;
				width: 100%;
			}
			img{margin: 0 auto;}
		}
		.alignleft{
			float: left;
			width: 42.7%;
			@include breakpoint($screen-xs-max){
				margin: 0;
				float: none;
				width: 100%;
			}
			img{margin: 0 auto;}
		}
	}
}
.onepage-process{
	padding-top: 100px;
	padding-bottom: 70px;
}
/*------------------------------------------------------------------
19-6. process nav Styles / .process-nav
-------------------------------------------------------------------*/
.process-nav{
	margin:0;
	font-size: 12px;
    font-weight: 600;
    color:$storm-dust;
	text-align: center;
    letter-spacing: 2px;
	text-transform: uppercase;
    font-family: $font-family-sans-serif;
	@include element(before, 59px, 100px, auto, 100px, $gainsboro);
	&:before{
        height: 1px;
		.dark &{background: #494949;}
    }
	li{
		float: none;
		@include vertical-align(inline-block, top);
		padding: 0 83px 20px;
		@include breakpoint($screen-md-max){
			padding: 0 43px 20px;
		}
		@include breakpoint($screen-sm-max){
			padding: 0 23px 20px;
		}
		.process{
			position:relative;
			z-index:999;
			border-radius:50%;
            background: $white;
			@include square(120px);
			border:1px solid $gainsboro;
			display: block;
			margin:0 auto 28px;
			@include transition (all, 0.4s, ease);
            .dark &{
                border-color: #494949;
                background: #191919;
            }
		}
		.fa{
			font-size: 33px;
			line-height:118px;
			@include transition (all, 0.4s, ease);	
		}
		&:hover{
			.process{color: $white;}
			.fa{color: $white;}
		}
	}
}
/*------------------------------------------------------------------
19-7. onepage clientbox Styles / .onepage-clientbox
-------------------------------------------------------------------*/
.onepage-clientbox{
	position: relative;
	overflow: hidden;
	z-index:1;
	@include element2(before, 0, 0, 0, 0);
	&:before{
        z-index:1;
        background: rgba($black, 0.7);
    }
}
.onepage-client{
	position:relative;
	z-index:999;
    color:$white;
	text-align: center;
	padding-top: 93px;
	padding-bottom: 89px;
	.tabset{
        font-size: 0;
        white-space: nowrap;
        letter-spacing: -4px;
		li{
			letter-spacing: 0;
			white-space: normal;
			width: 16.667%;
			@include vertical-align(inline-block, top);
			@include breakpoint($screen-sm-max){
				width: 50%;
			}
			@include breakpoint($screen-xs-max){
				width: 100%;
			}
			a{
				opacity: 0.7;
				@include transition (all, 0.4s, ease);
			}
			&.active a,
			&:hover a{opacity: 1;}
		}
		.holder{
			height: 90px;
			@include v-align(frame, middle);
		}
	}
}
/*------------------------------------------------------------------
19-8. onepage-blockquote Styles / .onepage-blockquote
-------------------------------------------------------------------*/
.onepage-blockquote{
	border: 0;
	padding: 0;
    color:$white;
	font-size: 32px;
	line-height:42px;
	font-weight: 300;
	margin: 0 0 45px;
	font-style:italic;
	@include breakpoint($screen-xs-max){
		font-size: 25px;
		line-height: 30px;
	}
	q{
		display: block;
		quotes:none;
		margin:0 0 7px;
	}
	cite{
		font-style:normal;
		font-size: 16px;
		line-height:20px;
		text-transform: uppercase;
	}
}
/*------------------------------------------------------------------
19-9. onepage blog Styles / .onepage-blog
-------------------------------------------------------------------*/
.onepage-blog{
	padding-top: 93px;
	padding-bottom: 70px;
}
.onepage-blogblock{margin-bottom: 30px;}
.recentblog-col{
    color:$stack;
	font-size: 14px;
	line-height:28px;
	overflow: hidden;
    background: $white;
	@include breakpoint($screen-xs-max){padding: 0 0 20px;}
    .dark &{
        background: #191919;
    }
	.alignleft{
		float: left;
		width: 47.2%;
		position:relative;
		margin:0 5.4% 0 0;
		@include breakpoint($screen-sm-max){
			margin: 0;
			float: none;
			width: 100%;
		}
		img{width: 100%;}
	}
	.txt-box{
		overflow: hidden;
		padding:29px 0 0;
		@include breakpoint($screen-sm-max){
			padding: 20px 20px 0;
		}
	}
	h3{
        color:$shark;
		margin:0 0 11px;
		font:18px/22px $font-family-sans-serif;
        .dark &{color: $white;}
		a{
            color:$shark;
			@include transition (all, 0.4s, ease);
            .dark &{color: $white;}
			&:hover{text-decoration: none;}
		}
	}
	p{margin: 0 0 10px;}
	.date-holder{
		color:$white;
		background: $shark;
		position: absolute;
		top: 10px;
		left: 11px;
		width: 59px;
		text-align: center;
		font-size: 12px;
		line-height:16px;
		padding:0 0 11px;
		text-transform: uppercase;
		a{
			display: block;
			height: 59px;
			font-size: 24px;
			line-height:57px;
			margin:0 0 10px;
			color:$white;
		}
		.date{
			font-size: 18px;
			line-height:22px;
			font-weight: 700;
			display: block;
			margin:0;
		}
	}
}
.meta-nav{
	margin:0 0 18px;
	line-height:18px;
	font-size: 12px;
	position: relative;
	li{
		padding: 0 13px 0 0;
		.fa{margin:0 5px 0 0;}
        a{
            color:$stack;
            &:hover{
                color:$shark;
                text-decoration: none;
            }
        }
	}
}
/*------------------------------------------------------------------
19-10. onepage demo Styles / .onepage-demo
-------------------------------------------------------------------*/
.onepage-demo{
	position: relative;
	overflow: hidden;
	@include element2(before, 0, 0, 0, 0);
	&:before{
        z-index:1;
        background: rgba($black, 0.4);
    }
}
.install-demos{
	position:relative;
	z-index:999;
    color:$white;
	font-weight: 300;
	line-height:24px;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height:443px;
	@include v-align2(txt-box, $valign: middle);
	h2{
		margin:0 0 20px;
		font:32px/36px $font-family-sans-serif;
		text-transform: uppercase;
	}
	p{margin: 0 0 24px;}
	.btn{
		color: $white;
		padding:8px 21px 8px 31px;
		&:hover{
			background: none;
			border-color: $white;
		}
	}
	.txt-box{
		margin:-11px 0 0;
		width: 50%;
		@include breakpoint($screen-xs-max){
			width: 100%;
			margin: 0;
		}
	}
}
/*------------------------------------------------------------------
19-11. map Styles / .map
-------------------------------------------------------------------*/
.map{
	height: 500px;
	@extend %boxreset;
	@include breakpoint($screen-xs-max){
		height: 300px;
	}
	@include breakpoint($screen-sm-max){
		height: 400px;
	}
	@include breakpoint($screen-xs-max){
		height: 200px;
	}
}