/*------------------------------------------------------------------
[Table of contents]

13-2. realestate slider Styles / .realestate-slider
13-3. realestate section Styles / .realestate-section
13-4. realestate services Styles / .realestate-services

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
13-2. realestate slider Styles / .realestate-slider
-------------------------------------------------------------------*/
.realestate-slider{
	z-index: 2;
    color: $white;
	position: relative;
	font: 14px/24px $font-family-base;
	.caption{
		z-index: 55;
		height: 839px;
		position: relative;
		padding: 354px 0 0;
        background:rgba(0, 0, 0, 0.5);
		@include v-align(caption-holder, top);
		@include breakpoint($screen-xs-max){
			height: 900px;
			padding: 280px 0 0;
		}
	}
	.caption-holder{width: 100%;}
	.holder{
		max-width: 635px;
		overflow: hidden;
		letter-spacing: 0.4px;
        background: rgba(0, 0, 0, 0.8);
		padding: 26px 50px 30px 41px;
	}
	h1{
		margin: 0 0 11px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		text-transform: uppercase;
		font: 500 32px/50px $font-family-sans-serif;
		.info{
			top: 3px;
			right: -62px;
			position: absolute;
            background: $light-green;
			padding: 1px 11px 2px 10px;
			font: 12px/18px $font-family-base;
			@include breakpoint($screen-xs-max){right: -45px;}
		}
	}
	p{margin: 0 0 28px;}
	footer{
		overflow: hidden;
		margin: 0 -10px 0 0;
		.price{
			float: left;
			margin: -10px 0 0;
			font: 900 42px/56px $font-family-sans-serif;
			.add{
				font-size: 21px;
				font-weight: 400;
			}
		}
	}
	.btn{
		float: right;
		border-width: 2px;
	}
	.slick-arrow{
		left: 0;
		top: 50%;
		border: 0;
        opacity: 0;
		z-index: 55;
        color: $white;
		font-size: 52px;
		overflow: hidden;
		margin: 38px 0 0;
		line-height: 30px;
		position: absolute;
        visibility: hidden;
		text-indent: -9999px;
		@include square(58px);
        background: rgba(0, 0, 0, 0.85);
        @include transition (all, 0.4s, ease);
		&:after{
			top: 0;
			left: 19px;
			line-height: 1;
			text-indent: 0;
			content:"\f104";
			overflow: hidden;
			position: absolute;
			font-family:'FontAwesome';
		}
	}
	.slick-next{
		right: 0;
		left: auto;
		&:after{content:"\f105";}
	}
    &:hover{
        .slick-arrow{
            opacity: 1;
            visibility: visible;
        }
        .slick-prev{left: 14px;}
        .slick-next{right: 14px;}
    }
}
/*------------------------------------------------------------------
13-3. realestate section Styles / .realestate-section
-------------------------------------------------------------------*/
.realestate-section{
	z-index: 56;
	position: relative;
	.tabset{
		float: left;
		width: 100%;
		font-size: 14px;
		line-height: 20px;
		margin: -45px 0 0;
		@extend %listreset;
		text-transform: uppercase;
		li{
			float: left;
			margin: 0;
			@include breakpoint($screen-xs-max){
				float: none;
			}
			&.active{
				margin: -8px 0 0;
				a{
                    color: $white;
					padding: 17px 29px;
					text-decoration: none;
				}
			}
			&:hover{
				margin: -8px 0 0;
				a{
                    color: $white;
					padding: 17px 29px;
					text-decoration: none;
				}
			}
		}
		a{
            color: $lime;
			display: block;
			padding: 13px 29px;
			border-left: 1px solid #e6e2de;
            background: rgba(255, 255, 255, 0.9);
		}
	}
	.tab-content{
		float: left;
		width: 100%;
		margin: 0 0 51px;
	}
	.tab-form{
		overflow: hidden;
		padding: 39px 0 38px 40px;
		@include breakpoint($screen-xs-max){
			padding: 30px;
		}
	}
	.search-box{
		float: left;
		width: 65.8%;
		position: relative;
        background: $white;
		@include breakpoint($screen-xs-max){
			width: 100%;
			margin: 0 0 10px;
		}
		input[type="search"]{
			margin: 0;
			border: 0;
            color: #848484;
			width: 100%;
			float: left;
			height: 50px;
			outline: none;
            background: transparent;
			padding: 10px 65px 10px 20px;
			font: italic 16px/20px $font-family-base;
		}
		.fa{
			top: 12px;
            color: #c5c5c5;
			right: 20px;
			font-size: 26px;
			position: absolute;
		}
	}
	.jcf-select{
		border: 0;
		float: left;
		height: 50px;
		width: 16.9%;
		min-width: 0;
		margin: 0 0 0 1.8%;
		@include breakpoint($screen-xs-max){
			width: 100%;
			margin: 0 0 10px;
		}
		.jcf-select-opener{
            background: transparent;
            &:before{
                top: 16px;
                right: 22px;
                color: $stack;
                content: "\f107";
                position: absolute;
                font-family: 'FontAwesome';
            }
		}
		.jcf-select-text{margin: 13px 35px 0 20px;}
	}
	.btn-submit{
        color: $white;
		float: left;
		width: 10%;
		border-radius: 0;
		margin: 0 0 0 2%;
        background: $lime;
		padding: 14px 5px;
		@include breakpoint($screen-xs-max){
			width: 100%;
		}
		&:hover{opacity: 0.8;}
	}
	.text-box{
        color: $stack;
		font-size: 18px;
		font-weight: 300;
		line-height: 32px;
		font-style: italic;
		text-align: center;
		max-width: 730px;
		margin: 0 auto 52px;
	}
	h2{
        color: $lime;
		margin: 0 0 40px;
		font: 300 40px/50px $font-family-sans-serif;
        .dark &{color: $white;}
	}
}
/*------------------------------------------------------------------
13-4. realestate services Styles / .realestate-services
-------------------------------------------------------------------*/
.realestate-services{
    color: $white;
	font-size: 14px;
	@extend %boxreset;
	line-height: 24px;
	text-align: center;
	padding: 90px 0 93px;
	@include breakpoint($screen-sm-max){
		font-size: 12px;
		line-height: 20px;
	}
	.beans-slider{overflow: visible;}
	.box{
		float: left;
		width: 23.2%;
        color: $stack;
		overflow: hidden;
		margin: 0 0 0 2.4%;
		position: relative;
        font: 500 12px/18px$font-family-sans-serif;
		@include breakpoint($screen-xs-max){width: 100%;}
		&:first-child{margin: 0;}
		.over{
			z-index: 5;
			opacity: 0;
			visibility: hidden;
			@extend %postionreset;
            background: rgba(0, 0, 0, 0.9);
			@include transition (all, 0.4s, ease);
		}
		.frame{
			@include square(100%);
			@include vertical-align(table, middle);
		}
		.block{
			@include square(100%);
			@include vertical-align(table-cell, middle);
		}
        h2{
            color: $shark;
            margin: 0 0 9px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font: 600 14px/20px $font-family-base;
            .dark &{color: $white;}
            @include breakpoint($screen-sm-max){
                font-size: 14px;
                line-height: 18px;
            }
        }
		&.active,
		&:hover{
			.over{
				opacity: 1;
				visibility: visible;
			}
			.txt{display: none;}
			.txt2{display: block;}
			.img-box a{
				right: 0;
				opacity: 1;
				visibility: visible;
				&:last-child{
					left: 0;
					right: auto;
				}
			}
		}
	}
	.img-box{
		margin: 0 0 11px;
		overflow: hidden;
		position: relative;
		a{
            color: $white;
			opacity: 0;
			right: -50px;
			width: 44px;
			height: 36px;
			margin: 0 3px;
			font-size: 21px;
			padding: 5px 0 0;
			text-align: center;
			position: relative;
			visibility: hidden;
			vertical-align: top;
			display: inline-block;
			border: 1px solid $white;
			@include transition (all, 0.7s, ease);
			&:last-child{
				right: auto;
				left: -50px;
			}
		}
	}
	img{
		margin: 0 auto;
		@extend %img-responsive;
	}
	p{
        margin: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
	.text-box{
		overflow: hidden;
		text-transform: uppercase;
	}
	.txt{min-height: 70px;}
	.txt2{
		display: none;
		min-height: 70px;
	}
	.star-list{
		font-size: 11px;
		margin: 0 0 17px;
		@extend %listreset;
		li{
			vertical-align: top;
			display: inline-block;
		}
		a{
            color: #cfcfcf;
            &:hover{text-decoration: none;}
        }
	}
	.sale{
        color: $white;
		padding: 2px 10px;
        background: $yellow;
		vertical-align: top;
		display: inline-block;
		text-transform: uppercase;
		font: 12px/20px $font-family-base;
	}
	.price{
		display: block;
		font: 700 21px/30px $font-family-base;
		.add{
			font-size: 16px;
			font-weight: 900;
		}
		.p-text{
			color: #8f8f8f;
			font-size: 14px;
			font-weight: 400;
			line-height: 25px;
		}
	}
	.slick-arrow{
		padding: 0;
		margin: 0;
		border: 0;
		right: 2px;
		top: -75px;
		z-index: 9999;
		font-size: 20px;
        color: $gainsboro;
		position: absolute;
		border-radius: 50%;
        text-indent: -9999px;
		@include square(28px);
        background: $desert-storm;
		border: 1px solid #dedede;
		@include transition (all, 0.4s, ease);
        .dark &{
            color: $white;
            background: #191919;
            border-color: #494949;
        }
		&:after{
			top: 2px;
			left: 10px;
			line-height: 1;
			text-indent: 0;
			content:"\f105";
			overflow: hidden;
			position: absolute;
			font-family:'FontAwesome';
		}
	}
	.slick-prev{
		right: 36px;
		&:after{content:"\f104";}
	}
	.tab-content{overflow: visible;}
	&.style2{
		.img-box{margin: 0 0 14px;}
		.txt2,
		.txt{min-height: 31px;}
		.price{font-size: 25px;}
		.box h2{
			margin: 0;
			font-size: 15px;
			text-transform: lowercase;
			text-transform: capitalize;
		}
		.beans-slider{padding: 50px 0 0;}
		.slick-arrow{
			right: 50%;
			margin: 0 -20px 0 0;
			background: $lime;
			border-color: $lime;
		}
		.slick-prev{margin: 0 20px 0 0;}
	}
}