/*------------------------------------------------------------------
[Table of contents]

14-2. travel slider Styles / .travel-slider
14-3. travel section Styles / .travel-section

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
14-2. travel slider Styles / .travel-slider
-------------------------------------------------------------------*/
.travel-slider{
	.caption{
		width: 100%;
        color: $white;
		text-align: center;
		position: relative;
		@include v-align(holder, middle);
		font: 18px/20px $font-family-sans-serif;
		@include breakpoint($screen-xs-max){
			font-size: 14px;
			line-height: 16px;
			min-height: 600px;
		}
		.holder{
			z-index: 5;
			padding: 0 0 9px;
			position: relative;
			@include breakpoint($screen-xs-max){padding: 80px 0 0;}
		}
	}
	p{
		margin:0 0 40px;
		@include breakpoint($screen-xs-max){margin: 0 0 20px;}
	}
	.heading2{
		margin: 0 0 27px;
		letter-spacing: 0.4px;
		text-transform: uppercase;
		font: 700 60px/65px $font-family-sans-serif;
		@include breakpoint($screen-xs-max){
			font-size: 25px;
			line-height: 30px;
		}
	}
	.title2{
		display: block;
		margin: 0 0 41px;
		text-transform: capitalize;
		font: 24px/25px $font-family-sans-serif;
		@include breakpoint($screen-sm-max){
			font-size: 18px;
		}
		@include breakpoint($screen-xs-max){
			font-size: 16px;
			line-height: 20px;
		}
	}
	.btn{margin: 0 3px 10px;}
	.slick-arrow{
		left: 0;
		top: 50%;
		margin: 0;
		border: 0;
		padding: 0;
        opacity: 0;
		z-index: 55;
        color: $white;
		font-size: 52px;
		overflow: hidden;
		margin: -23px 0 0;
		line-height: 30px;
		position: absolute;
        visibility: hidden;
		text-indent: -9999px;
		@include square(58px);
        background: rgba(0, 0, 0, 0.85);
        @include transition (all, 0.4s, ease);
		@include breakpoint($screen-xs-max){
			top: auto;
			margin: 0;
			bottom: 40px;
		}
		&:after{
			top: 0;
			left: 15px;
			line-height: 1;
			text-indent: 0;
			font-size: 60px;
			content:"\f104";
			overflow: hidden;
			position: absolute;
			font-family:'FontAwesome';
		}
	}
	.slick-next{
		right: 0;
		left: auto;
		&:after{content:"\f105";}
	}
	.caption > .holder {
		transition: all 2.5s ease;
		position: relative;
		bottom: -50px;
		opacity: 0;
	}
	.slick-active .caption > .holder {
		transition: all 1s ease 1s;
		opacity: 1;
		bottom: 0;
	}
    &:hover{
        .slick-arrow{
            opacity: 1;
            visibility: visible;
        }
        .slick-prev{left: 14px;}
        .slick-next{right: 14px;}
    }
}
/*------------------------------------------------------------------
14-3. travel section Styles / .travel-section
-------------------------------------------------------------------*/
.travel-section{
	z-index: 56;
	position: relative;
	.tabset{
		float: left;
		width: 100%;
		font-size: 0;
		margin: -46px 0 0;
		text-align: center;
		@extend %listreset;
		letter-spacing: -4px;
		text-transform: uppercase;
		li{
			margin: 0;
			float: left;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0;
			@include breakpoint(550px){
				display: block;
			}
			&:hover,
			&.active{
				a{
                    color: $white;
					text-decoration: none;
                    background: rgba(26, 26, 26, 0.9);
                    border-left-color: rgba(26, 26, 26, 0.9);
					@include breakpoint(550px){
						border-color: rgba(26, 26, 26, 0.9);
					}
				}
			}
		}
		a{
            color: $lime;
			display: block;
			padding: 13px 29px;
            background: rgba(255, 255, 255, 0.6);
			border-left: 1px solid rgba(255, 255, 255, 0.6);
		}
	}
	.tab-content{
		float: left;
		width: 100%;
		margin: 0 0 51px;
        background: $rangoon-green;
	}
	.tab-form{
		overflow: hidden;
		padding: 39px 0 38px 40px;
		@include breakpoint($screen-md-max){
			padding: 39px 0 38px 20px;
		}
		@include breakpoint($screen-xs-max){
			padding: 30px;
		}
	}
	.box{
		float: left;
		width: 27.3%;
		margin: 0 0 0 30px;
		position: relative;
		@include breakpoint($screen-sm-max){
			width: 43%;
		}
		@include breakpoint($screen-xs-max){
			width: 100%;
			margin: 0 0 10px;
		}
		input[type="search"]{
			margin: 0;
			border: 0;
			width: 100%;
			float: left;
			height: 50px;
			outline: none;
            color: #848484;
            background: $white;
			padding: 10px 65px 10px 20px;
			font: italic 16px/20px $font-family-base;
		}
		.fa{
			top: 18px;
			right: 22px;
            color: #c5c5c5;
			font-size: 16px;
			position: absolute;
		}
		&:first-child{
			margin: 0;
			@include breakpoint($screen-xs-max){
				margin: 0 0 10px;
			}
		}
		&.add{
			width: 30%;
			@include breakpoint($screen-sm-max){
				width: 50%;
			}
			@include breakpoint($screen-xs-max){
				width: 100%;
			}
			.jcf-select .jcf-select-opener:before{
				top: 11px;
				right: 15px;
				font-size: 20px;
				content: "\f073";
			}
		}
		&.add2{
			@include breakpoint($screen-sm-max){
				margin: 0;
				width: 70%;
			}
			@include breakpoint($screen-xs-max){
				width: 100%;
			}
		}
		.form-title{
            color: $white;
			display: block;
			margin: 0 0 5px;
			font-size: 16px;
		}
		label{
            color: $white;
			display: block;
			font-size: 12px;
			margin: 0 0 15px;
		}
		.block{
			overflow: hidden;
			position: relative;
            background: $white;
		}
	}
	.jcf-select{
		border: 0;
		float: left;
		width: 100%;
		height: 50px;
		min-width: 0;
		.jcf-select-opener{
            background: transparent;
			&:before{
				top: 16px;
				right: 22px;
                color: #8f8f8f;
				content: "\f107";
				position: absolute;
				font-family: 'FontAwesome';
			}
		}
		.jcf-select-text{margin: 13px 35px 0 20px;}
	}
	.btn-submit{
		float: left;
		width: 4.8%;
        color: $white;
		border-radius: 0;
		padding: 14px 5px;
		margin: 60px 0 0 1.8%;
		@include breakpoint($screen-sm-max){
			width: 22.8%;
			margin: 60px 0 0 30px;
		}
		@include breakpoint($screen-xs-max){
			width: 100%;
			margin: 0 0 10px;
		}
		&:hover{opacity: 0.8;}
	}
	.text-box{
        color: $stack;
		font-size: 18px;
		font-weight: 300;
		line-height: 32px;
		font-style: italic;
		text-align: center;
		max-width: 730px;
		margin: 0 auto 52px;
	}
	h2{
        color: $lime;
		margin: 0 0 40px;
		font: 300 40px/50px $font-family-sans-serif;
	}
}