/*------------------------------------------------------------------
[Table of contents]

8-2. wedding banner Styles / .wedding-banner
8-3. wedding header Styles / .wedding-header
8-4. wedding nav Styles / .wedding-nav
8-5. happy couple Styles / .happy-couple
8-6. memories text Styles / .memories-text
8-7. love story Styles / .love-story
8-8. invite text Styles / .invite-text
8-9. wedding photos Styles / .wedding-photos

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
8-2. wedding banner Styles / .wedding-banner
-------------------------------------------------------------------*/
.wedding-banner{
	@extend %boxreset;
	.banner-over{
		z-index: 5;
		@extend %postionreset;
	}
	.slick-list,
	.slick-track,
	.slideset{height: 100vh;}
	.slick-arrow{
		top: 50%;
		margin: 0;
		border: 0;
		padding: 0;
		left: 30px;
		z-index:999;
        color:$white;
		margin:54px 0 0;
        background: none;
		position: absolute;
        text-indent: -9999px;
		transition:all 0.25s ease;
		&:after{
			top: 0;
			left: 3px;
			line-height: 1;
			text-indent: 0;
			font-size: 60px;
			content:"\f105";
			overflow: hidden;
			position: absolute;
			font-family:'FontAwesome';
		}
		&:hover{text-decoration: none;}
	}
	.slick-next{
		left: auto;
		right: 30px;
		&:after{content:"\f104";}
	}
	.slick-dots{
        bottom: 0;
        @include transition (all, 0.4s, ease);
		li{
			margin: 0 3px 0 2px;
			@include vertical-align(inline-block, top);
		}
		button{
			margin: 0;
			padding: 0;
			display: block;
			overflow: hidden;
			border-radius: 50%;
			text-indent: -9999px;
			@include square(12px);
			border:2px solid $white;
			@include transition (all, 0.4s, ease);
			&:hover{
				background: $white;
				text-decoration: none;
			}
		}
	}
}
.wedding-content{min-height:719px;}
/*------------------------------------------------------------------
8-3. wedding header Styles / .wedding-header
-------------------------------------------------------------------*/
.wedding-header{
    color:$white;
	text-align: center;
	font:21px/25px $font-playfair;
	@include v-align(holder, middle);
	@include breakpoint($screen-xs-max){
		font-size: 15px;
		line-height: 18px;
		height: 600px !important;
	}
	h1{
		margin: 0 0 18px;
		font:74px/86px $font-great-wibes;
		@include breakpoint($screen-xs-max){
			font-size: 30px;
			line-height: 35px;
		}
	}
	p{margin: 0 0 38px;}
	.holder{
		padding-top: 135px;
		padding-bottom: 20px;
		@include breakpoint($screen-xs-max){
			padding-top: 40px;
		}
	}
}
/*------------------------------------------------------------------
8-4. wedding nav Styles / .wedding-nav
-------------------------------------------------------------------*/
.wedding-nav{
	margin:0;
	text-align: center;
	font:italic 16px/20px $font-playfair;
	.countdown-row{display: block;}
	.countdown-section{
		@include vertical-align(inline-block, top);
		padding:15px 10px 10px;
		margin:0 7px;
		border-radius:50%;
		@include square(100px);
		overflow: hidden;
		.countdown-amount{
			display: block;
			font-weight: 700;
			font-size: 32px;
			line-height:34px;
			margin:0 0 7px;
		}
		.countdown-period{display: block;}
	}
}
.couple-block{
	padding-top: 63px;
	padding-bottom: 95px;
}
/*------------------------------------------------------------------
8-5. happy couple Styles / .happy-couple
-------------------------------------------------------------------*/
.happy-couple{
    color:$stack;
	font-size: 14px;
	line-height:28px;
	text-align:right;
	.img-box{
		overflow: hidden;
		margin:0 0 27px;
		img{@extend %img-responsive2;}
	}
	h3{
        color:$shark;
		margin:0 0 19px;
		text-transform: uppercase;
		font:700 24px/28px $font-playfair;
		.dark &{color: $white;}
		a{
            color:$shark;
			transition:all 0.25s ease;
			.dark &{color: $white;}
			&:hover{text-decoration: none;}
		}
	}
	.title{
		display: block;
		margin:0 0 36px;
		font:32px/38px $font-great-wibes;
		@include breakpoint($screen-xs-max){
			margin:0 0 16px;
		}
	}
	p{margin: 0 0 28px;}
	.social{
		margin: 0;
		font-size: 18px;
		padding: 2px 0 0;
		@include breakpoint($screen-xs-max){
			margin: 0 0 20px;
		}
		li{padding: 0 0 0 19px;}
		a{
            color: $stack;
			@include transition (all, 0.4s, ease);
			&:hover{text-decoration: none;}
		}
	}
	&.bride{
		text-align:left;
		.social li{padding: 0 19px 0 0;}
	}
}
/*------------------------------------------------------------------
8-6. memories text Styles / .memories-text
-------------------------------------------------------------------*/
.memories-text{
	overflow: hidden;
	text-align: center;
	position: relative;
	padding: 151px 0 143px;
	@include element2(before, 0, 0, 0, 0);
    &:before{background: rgba(0, 0, 0, 0.2);}
	@include breakpoint($screen-xs-max){
		padding: 50px 0 40px;
	}
	.parallax-holder{z-index: -1;}
	blockquote{
		border: 0;
		margin: 0;
        color: $white;
		padding: 0 17%;
		font: 27px/40px $font-playfair;
		@include breakpoint($screen-xs-max){
			padding: 0;
			font-size: 20px;
			line-height: 30px;
		}
	}
}
/*------------------------------------------------------------------
8-7. love story Styles / .love-story
-------------------------------------------------------------------*/
.love-story{
	@extend %boxreset;
	padding: 94px 0 66px;
	.row-holder{
		position: relative;
		@extend %clearfix;
		time{
			top: 85px;
			left: 50%;
			width: 140px;
            color: $white;
			font-size: 13px;
			font-weight: 900;
			text-align: center;
			position: absolute;
			margin: 0 0 0 -69px;
			padding: 16px 10px 14px;
			text-transform: uppercase;
			@include breakpoint($screen-xs-max){
				display: none;
			}
		}
		&:before{
			top: 0;
			bottom: 0;
			left: 50%;
			width: 5px;
			@extend %after;
            background: $desert-storm;
			margin: -14px 0 0 -3px;
			.dark &{background: #191919;}
			@include breakpoint($screen-xs-max){
				display: none;
			}
		}
		&:last-child:before{bottom: 80px;}
	}
	h3{
        color: $shark;
		margin: 0 0 10px;
		font: 18px/20px $font-playfair;
		.dark &{color: $white;}
		a{
            color: $shark;
			@include transition (all, 0.4s, ease);
			.dark &{color: $white;}
			&:hover{text-decoration: none;}
		}
	}
	.row-holder .box{
		float: left;
		width: 370px;
		margin-left: 116px;
		margin-bottom: 37px;
        background: $desert-storm;
		border-radius: 2px 2px 0 0;
		.dark &{background: #191919}
		@include breakpoint($screen-md-max){
			margin-left: 20px;
		}
		@include breakpoint($screen-sm-max){
			margin-left: 10px;
			width: 270px;
		}
		@include breakpoint($screen-xs-max){
			float: none;
			margin: 0 auto 10px;
		}
		&.right{
			float: right;
			margin-top: 90px;
			margin-right: 114px;
			@include breakpoint($screen-md-max){
				margin-right: 20px;
			}
			@include breakpoint($screen-sm-max){
				margin-right: 10px;
			}
			@include breakpoint($screen-xs-max){
				float: none;
				margin: 0 auto 10px;
			}
		}
		img{
			width: 100%;
			border-radius: 2px 2px 0 0;
		}
		.text-box{
            color: $stack;
			font-size: 14px;
			overflow: hidden;
			line-height: 20px;
			padding: 26px 10px 25px 30px;
		}
		p{margin: 0;}
	}
	&.sidebar{
		.row-holder .box{
			width: 355px;
			margin-left: 0;
			@include breakpoint($screen-md-max){
				width: 270px;
			}
			@include breakpoint($screen-xs-max){
				width: 100%;
				margin: 0 auto 10px;
			}
			&.right{
				margin-right: 0;
				@include breakpoint($screen-sm-max){
					margin-top: 37px;
				}
			}
		}
		.row-holder time{
			@include breakpoint($screen-sm-max){
				top: auto;
				left: auto;
				clear: left;
				z-index: 99;
				display: block;
				margin: 0 auto;
				max-width: 280px;
				position: relative;
			}
		}
		.row-holder:before{
			@include breakpoint($screen-sm-max){
				display: none;
			}
		}
	}
}
/*------------------------------------------------------------------
8-8. invite text Styles / .invite-text
-------------------------------------------------------------------*/
.invite-text{
    color: $white;
	@extend %boxreset;
	text-align: center;
	padding: 145px 0 152px;
	font: 35px/40px $font-playfair;
	@include element2(before, 0, 0, 0, 0);
    &:before{background: rgba(0, 0, 0, 0.4);}
	.parallax-holder{z-index: -1;}
	p{margin:  0 0 27px;}
	.btn{margin: 0 6px;}
}
/*------------------------------------------------------------------
8-9. wedding photos Styles / .wedding-photos
-------------------------------------------------------------------*/
.wedding-photos{
	@extend %boxreset;
	.holder{
		width: 105%;
		margin: 0 0 29px;
		overflow: hidden;
	}
	.box{
		float: left;
		width: 22%;
		position: relative;
		margin: 0 2.6% 30px 0;
		@include breakpoint($screen-sm-max){
			margin: 0 2.6% 18px 0;
		}
		@include breakpoint($screen-xs-max){
			margin: 0 2.6% 8px 0;
		}
		&.half{width: 46.2%;}
		&:hover .over{top: 0;}
	}
	img{width: 100%;}
	.over{
		overflow: hidden;
		@extend %postionreset;
		transition:all 0.6s ease;
        background: rgba(0, 0, 0, 0.8);
		top: 100%;
		a{
			top: 50%;
			left: 50%;
            color: $white;
			font-size: 30px;
			position: absolute;
			margin: -15px 0 0 -15px;
			&:hover{text-decoration: none;}
		}
	}
}